//All potential colors for game board

.backTan {
    background-color: #FCEFD9 !important;
}

.backLightPink {
    background-color: #EFB1A0 !important;
}

.backSalmon {
    background-color: #ED9970 !important;
}

.backBrown {
    background-color: #F2C168 !important;
}

.backPurple {
    background-color: #B797BA !important;
}

.backLightBlue {
    background-color: #9CC7E8 !important;
}

.backBlueGrey {
    background-color: #8397A5 !important;
}