.background1 {
	--ion-background-color:#28364A;
}
.playingField {
	position: relative;
	z-index: 1;
	background-color: #FFEED6;
}
.playingField-black {
	border: 1px solid black;
	background-color: black;
}
.player {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	top: 0px;
	left: 0px;
	background-image: url(../../assets/Cowboy_Down.png);
	background-size: contain;

}
.player::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: #B2A59A;
	position: absolute;
	z-index: -1;
	top: 3px;
	left: -3px;
	border-radius: 7.5px;
}
.enemy {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	top: 0px;
	left: 0px;
	border: 1px solid #FFEED6 inset;
	background-color: #D65353;
}
.enemy::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: #B2A59A;
	position: absolute;
	z-index: -1;
	top: 3px;
	left: -3px;
	border-radius: 7.5px;
}
.points {
	position: absolute;
	bottom: 0;
	left: 45%;
	right: 45%;
	text-align: center;
}
.points-inner{
	position: relative;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
}
.upgrade {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	top: 0px;
	left: 0px;
	background-color: #F7C45F;
}
.upgrade::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: #B2A59A;
	position: absolute;
	z-index: -1;
	top: 3px;
	left: -3px;
	border-radius: 7.5px;
}
.cover {
	position: absolute;
	background-color: #28364A;
	z-index: 10;
}
.wall {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 0px;
	background-color: #28364A;
	border: 1px solid #FFEED6 inset;
}
.wall::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: #B2A59A;
	position: absolute;
	z-index: -1;
	top: 5px;
	left: -5px;
}
.cloud.top_left,
.wall.top_left {
	border-top-left-radius: 7.5px;
}
.cloud.top_right,
.wall.top_right {
	border-top-right-radius: 7.5px;
}
.cloud.bottom_left,
.wall.bottom_left {
	border-bottom-left-radius: 7.5px;
}
.cloud.bottom_right,
.wall.bottom_right {
	border-bottom-right-radius: 7.5px;
}

.cloud.top_left::after,
.wall.top_left::after {
	border-top-left-radius: 7.5px;
}
.cloud.top_right::after,
.wall.top_right::after {
	border-top-right-radius: 7.5px;
}
.cloud.bottom_left::after,
.wall.bottom_left::after {
	border-bottom-left-radius: 7.5px;
}
.wall.bottom_right::after,
.wall.bottom_right::after {
	border-bottom-right-radius: 7.5px;
}
.wall-white {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 0px;
	background-color: white;
	border: 1px solid white inset;
}
.highScore {
	position: absolute;
	top: 50px;
	left: 600px;
}

// All my cloud styling + animations
.cloud {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 0px;
	background-color: #FFFFFF80;
	border: 1px solid #FFEED6 inset;
	box-shadow: 0, 0, 7.5px, 5px, #FFFFFF80;
	border-radius: 7.5px;
}
.cloud::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: #B2A59A;
	position: absolute;
	z-index: -1;
	top: 5px;
	left: -5px;
	box-shadow: 0, 0, 7.5px, 5px, #FFFFFF80;
	left: calc(125%);
}
.cloud-white {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 0px;
	background-color: white;
	border: 1px solid white inset;
}

@keyframes moveTheCloud {
	from {}
	to {margin-left: 200%;}
}

.moveCloud {
	animation-name: moveTheCloud;
	animation-duration: 30s;
}

