.background1 {
	--ion-background-color:#28364A;
}
.playingField {
	margin-top: constant(safe-area-inset-top) !important;
    margin-top: env(safe-area-inset-top) !important;
    margin-bottom: calc(4px + env(safe-area-inset-top)) !important;
	position: relative;
	z-index: 1;
	background-color: #FFEED6;
	background-size: cover !important;
}
.playingField-black {
	border: 1px solid black;
	background-color: black;
}
.player {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	top: 0px;
	left: 0px;
	background-size: contain;

}
.player::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: rgba(0, 0, 0, .25);
	position: absolute;
	z-index: -1;
	top: 3px;
	left: -3px;
	border-radius: 7.5px;
}
.enemy {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	top: 0px;
	left: 0px;
	border: 1px solid #FFEED6 inset;
	background-color: #D65353;
	-webkit-animation-name: enter;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: .75s;
	/* Safari 4.0 - 8.0 */
	animation-name: enter;
	animation-duration: .75s;
}
.enemy::before {
	position: relative;
	z-index: 1;
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: #D65353;
	border-radius: 7.5px;
	-webkit-animation-name: enter;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-duration: .75s;
	/* Safari 4.0 - 8.0 */
	animation-name: enter;
	animation-duration: .75s;
}
.enemy::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: rgba(0, 0, 0, .25);
	position: relative;
	z-index: -1;
	bottom: 15px;
	left: -3px;
	border-radius: 7.5px;
}
.points {
	position: absolute;
	bottom: 0;
	left: 45%;
	right: 45%;
	text-align: center;
}
.points-inner{
	position: relative;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
}
.upgrade {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	top: 0px;
	left: 0px;
	background-color: #F7C45F;
	animation: bobUpDown 1s ease infinite;
	z-index: 2;
}
.upgrade::before {
	width: 15px;
	height: 15px;
	content: " ";
	display: inline-block;
	background-color: #F7C45F;
	position: relative;
	border-radius: 7.5px;
}

.upgrade::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: rgba(0, 0, 0, .25);
	position: relative;
	z-index: -5;
	bottom: 15px;
	left: -3px;
	border-radius: 7.5px;
}
.cover {
	position: absolute;
	background-color: #28364A;
	z-index: 10;
}
.wall {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 0px;
	background-color: #28364A;
	border: 1px solid #FFEED6 inset;
}
.wall::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: rgba(0, 0, 0, .25);
	position: absolute;
	z-index: -1;
	top: 5px;
	left: -5px;
}
.cloud.top_left,
.wall.top_left {
	border-top-left-radius: 7.5px;
}
.cloud.top_right,
.wall.top_right {
	border-top-right-radius: 7.5px;
}
.cloud.bottom_left,
.wall.bottom_left {
	border-bottom-left-radius: 7.5px;
}
.cloud.bottom_right,
.wall.bottom_right {
	border-bottom-right-radius: 7.5px;
}

.cloud.top_left::after,
.cloud.top_left::before,
.wall.top_left::after {
	border-top-left-radius: 7.5px;
}
.cloud.top_right::after,
.cloud.top_right::before,
.wall.top_right::after {
	border-top-right-radius: 7.5px;
}
.cloud.bottom_left::after,
.cloud.bottom_left::before,
.wall.bottom_left::after {
	border-bottom-left-radius: 7.5px;
}
.cloud.bottom_right::after,
.cloud.bottom_right::before,
.wall.bottom_right::after {
	border-bottom-right-radius: 7.5px;
}
.wall-white {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 0px;
	background-color: white;
	border: 1px solid white inset;
}
.highScore {
	position: absolute;
	top: 50px;
	left: 600px;
}
// All my cloud styling
.cloud {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 0px;
	background-color: #ffffff91;
	border: 1px solid #FFEED6 inset;
	transition: 250ms;
}
.cloud::before{
	width: 15px;
	height: 15px;
	content: " ";
	top: 0px;
	left: 0px;
	display: inline-block;
	background-color: #ffffff91;
	position: absolute;
	z-index: 5;
}
.cloud::after {
	width: 15px;
	height: 15px;
	display: inline-block;
	content: " ";
	background-color: #b2a59a97;
	position: absolute;
	z-index: 3;
	top: 5px;
	left: -5px;
}
.cloud-white {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0px;
	left: 0px;
	background-color: white;
	border: 1px solid white inset;
}

@keyframes enter {
	from {
		height: 0;
		width: 0;
	}

	to {
		height: 15px;
		width: 15px;
	}
}

@keyframes bobUpDown {
	50% {
		transform: translate(0px, -5px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}