<ion-content scroll-y="false">
  <div class="UI">
    <div class="logo-container">
      <img id="logo" src="../../assets/Logo.png">
    </div>
    <ion-row class="ion-align-items-end ion-justify-content-center element">
      <button id="play-button" shape="round" routerLink="/play" (click)="playGame()"
        routerDirection="root">PLAY</button>
    </ion-row>
    <ion-row class="ion-align-items-start ion-justify-content-center element second">
      <br>
      <p>High Score = {{ currentHighScore }}</p>
      <ion-col size="2" class="ion-justify-content-center"><ion-button color="light" (click)="openSettings()"><ion-icon name="cog" color="rangerRed"></ion-icon></ion-button></ion-col>
    </ion-row>
    <!-- <ion-button (click)="showInterstitial()" expand="full">Show Intertitial</ion-button> -->
  </div>
  <div class="playFieldOverlay">
  </div>
  <div class="playingField" id="playingField" [style.width]="setupService.playingWidth + 'px'"
    [style.height]="setupService.playingHeight + 'px'" [style.top]="setupService.playingFieldPosition.top + 'px'"
    [style.left]="setupService.playingFieldPosition.left + 'px'">
    <div id="player" class="player" [style.top]="setupService.characterPosition.position.top + 'px'"
      [style.left]="setupService.characterPosition.position.left + 'px'"></div>
    <div id="upgrade" class="upgrade" [style.top]="setupService.upgradePosition.top + 'px'"
      [style.left]="setupService.upgradePosition.left + 'px'"></div>
    <div class="enemy" *ngFor="let enemy of setupService.enemies" [style.top]="enemy.position.top + 'px'"
      [style.left]="enemy.position.left + 'px'"></div>
    
    <div [ngClass]="{wall: true, top_left: wall.classes.top_left, top_right: wall.classes.top_right, bottom_left: wall.classes.bottom_left, bottom_right: wall.classes.bottom_right}"
      *ngFor="let wall of setupService.walls" [style.top]="wall.position.top + 'px'"
      [style.left]="wall.position.left + 'px'"></div>

    <div *ngFor="let cloud of setupService.allClouds" [ngClass]=" {cloud: true, top_left: cloud.classes.top_left, top_right: cloud.classes.top_right, bottom_left: cloud.classes.bottom_left, bottom_right:
      cloud.classes.bottom_right}" [style.top]="cloud.position.top + 'px'"
      [style.left]="cloud.position.left + 'px'">
    </div>
  </div>
  <div class="cover" *ngFor="let cover of setupService.coveringWalls" [style.top]="cover.top + 'px'"
    [style.left]="cover.left + 'px'" [style.width]="cover.width + 'px'" [style.height]="cover.height + 'px'"></div>
  <div id="loadingCover">
    <div class="loadingImageContainer">
    <img id="loadingLogo" class="rotate-center" src="../../assets/CowboyHat-01.png">
  </div>
  </div>
</ion-content>