<ion-content scroll-y="false">
  <ion-grid style="height: 100%">
    <div class="logo-container">
      <img id="logo" src="../../assets/Logo.png">
    </div>
      <ion-row class="ion-align-items-end ion-justify-content-center element">
        <ion-button id="play-button" size="small" shape="round" routerLink="/play" routerDirection="root">PLAY</ion-button>
      </ion-row>
      <ion-row class="ion-align-items-start ion-justify-content-center element second">
        <br>
        <p>High Score: {{ currentHighScore }}</p>
      </ion-row>
  </ion-grid>
</ion-content>