

.points {
	font-size: 5em;
	margin-bottom: 0.25em;
	margin-top: 0.25em;
	text-align: center;
	display: block;
	color: white;
	width: 100%;
	height: 50%;
	-webkit-animation-name: enlarge; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1.25s; /* Safari 4.0 - 8.0 */
	animation-name: enlarge;
	animation-duration: 1.25s;
}

.points-2 {
	font-size: 5em;
	margin-bottom: 0.25em;
	margin-top: 0.28em;
	text-align: center;
	position: absolute;
	color: #c75c58;
	width: 100%;
	height: 50%;
	-webkit-animation-name: enlarge; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1.25s; /* Safari 4.0 - 8.0 */
	animation-name: enlarge;
	animation-duration: 1.25s;
	z-index: -1;
}

.dropin {
	--ion-background-color: rgba(0,0,0,0.8);
}

.main-button {
	width: 6.5em;
	height: 4em;
}
.margin-none {
	margin: none;
}
.highscore {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 1em;
}
ion-button > img {
	height: 50%;
	width: auto;
}
.space {
	margin: 5px;
	padding: 5px;
}

@keyframes enlarge {
  0%   {font-size: 0px;}
  60%  {
  			font-size: 7em; margin-bottom: -.1em;
  			-ms-transform: rotate(-7deg); /* IE 9 */
			-webkit-transform: rotate(-7deg); /* Safari 3-8 */
			transform: rotate(-7deg);
  		}
  100% {font-size: 5em; margin-bottom: 0.25em;}
}