<div class="dropin" scroll-y="false">
	<ion-grid style="height: 100%">
		<ion-row class="points-container">
			<div class="points">
				{{ theLastScore }}
			</div>
			<div class="points-2">
				{{ theLastScore }}
			</div>
		</ion-row>
		<ion-row>
			<p class="highscore">{{ highscore }}</p>
		</ion-row>
		<ion-row class="ion-justify-content-center">
			<ion-col size="2" class="ion-justify-content-center">
				<ion-button routerLink="/home" (click)="dismissToHome()" routerDirection="root"><ion-icon name="home" color="cowboyBoot"></ion-icon></ion-button>
			</ion-col>
			<ion-col size="2" class="ion-justify-content-center">
				<ion-button (click)="openSettings()"><ion-icon name="cog" color="sunsetPurple"></ion-icon></ion-button>
			</ion-col>
			<ion-col size="2" class="ion-justify-content-center">
				<ion-button (click)="share()"><ion-icon name="share" color="deepGreen"></ion-icon></ion-button>
			</ion-col>
		</ion-row>
		<br>
	 	<ion-row class="ion-justify-content-center element">
	    	<button class="main-button" (click)="dismiss()">
	    		<img src="../../assets/RedoButton.png">
	    	</button>
	    	<div *ngIf="allow_rewarded_ad" class="reward">
	    		<button (click)="showRewardVideo()">Continue?&nbsp;<ion-icon name="caret-forward-circle-outline" color="rangerRed"></ion-icon></button>
	    	</div>
	 	</ion-row>
	</ion-grid>
	
</div>
