<div class="dropin" scroll-y="false">
  <ion-grid style="height: 100%">
    <div class="settingsContainer">
      <ion-row class="ion-justify-content-center">
        <div class="optionsBox">
          <br>
          <div *ngIf="!isIOS"> <!-- Conditionally displays the volume slider if the platform is not iOS -->
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <label id="sliderLabel" for="volumeSlider">Master Volume:</label>
              <img class="icon-small" src="../../assets/sounds_black_Main_Volume.png">
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-range id="volumeSlider" [value]="this.sliderPosition" min="0" max="100" (ionChange)="whenChangeSlide($event)"></ion-range>
              <!-- Volume slider that updates the volume setting -->
            </ion-row>
          </div>
          <ion-row class="ion-justify-content-center">
            <ion-col size="2">
              <button class="muteButton buttonPurple" (click)="toggleSFXState()"><img class="icon-small" [src]="sfxIconToggle()"></button>
              <!-- Button to toggle SFX state with the appropriate icon -->
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="2" class="ion-justify-content-center">
              <button class="muteButton buttonBlue" (click)="toggleMusicState()"><img class="icon-small" [src]="musicIconToggle()"></button>
              <!-- Button to toggle music state with the appropriate icon -->
            </ion-col>
          </ion-row>
        </div>
      </ion-row>
      <div>
        <button id="closeButton" (click)="dismiss()">
          <img class="icon" src="../../assets/back_button-02.png" />
          <!-- Button to dismiss the settings modal -->
        </button>
      </div>
    </div>
  </ion-grid>
</div>

<script src="range-input.js"></script>